/*http://astronautweb.co/snippet/font-awesome/ */

.element {
    position: relative;
}
 
/*replace the content value with the
corresponding value from the list below*/
 
.element:before {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}

/*------- fa-trash"\f1f8"  fa-trash-o"\f014" -----*/
.trash {
    position: relative;
}
 
/*replace the content value with the
corresponding value from the list below*/
 
.trash:before {
    content: "\f014";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.0em;
    position: absolute;
    top: 0;
    left: 0;
}
/*-------*/
/*-------*/
/*-------*/
/*-------*/
/*-------*/
/*-------*/
/*-------*/
/*-------*/